*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.menu-header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    border-bottom: solid 1px rgb(0,150,255);
    background-color: rgb(0,170,255);
}

.menu-list{
    border-left: solid 1px rgb(0,150,255);
    margin: 20px;
}

.list-item{
    text-decoration: none;
    color: rgb(246, 246, 246);
    font-size: 20px;
}

.list-item:hover{
    transition: font-size 200ms ease-out;
    font-size: 40px;
}


