*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(142, 217, 255);
}
.list-item{
    background-color: rgb(0, 170, 255);
}
.menu-header{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: rgb(0,170,255);
}

.menu-list{
    margin: 20px;
}

.list-item{
    text-decoration: none;
    color: rgb(246, 246, 246);
    font-size: 20px;
}

.list-item:hover{
    transition: border-bottom 110ms ease-out;
    border-bottom: solid 2px rgb(246, 246, 246);
}

.weather-card{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13vh;
    height: 80vh;
    width: 40vw;
    border: solid 1px rgb(0,150,255);
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
}

.weather-type{
    border: solid 1px rgb(0,150,255);
    border-radius: 5px;
    height: 60vh;
    width: 50vh;
    background-color: rgb(246, 246, 246);
}

footer{
    margin-top: 20px;
    border-top: solid 1px rgb(0,150,255);
    height: 10vh;
}
