*{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgb(142, 217, 255);
    box-sizing: border-box;
}

form{
    background-color: transparent;
}

.main-section{
    align-items: center;
    display: flex;
    flex-direction: row;
}

.list-item{
    background-color: rgb(0, 170, 255);
}

.menu-header{
    height: 80px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(0,170,255);
}

.menu-list{
    display: flex;
    flex-direction: row;
    background-color: transparent;
}
.menu-list li{
    margin: 20px;
    list-style: none;
}

.list-item{
    text-decoration: none;
    color: rgb(246, 246, 246);
    font-size: 20px;
}

.list-item:hover{
    transition: border-bottom 110ms ease-out;
    border-bottom: solid 2px rgb(246, 246, 246);
}

.city-name-input{
    border: solid 1px rgb(246, 246, 246);
    border-radius: 3px;
    margin-left: 10px;
    margin-right: 10px;
    color: rgb(63, 63, 63);
    height: 25px;
    padding: 10px;
    width: 200px;
    font-size: 20px;
}

.city-search{
    background-color: aquamarine;
    height: 40px;
    width: 150px;
    color: rgb(63, 63, 63);
    border: solid 1px rgb(246, 246, 246);
    border-radius: 5px;
    font-size: 20px;
}

.city-search:hover{
    background-color: rgb(23, 109, 80);
    transition: background-color 0.1s ease-in-out;
    cursor: pointer;
    color: white;
}
.weather-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 13vh;
    height: 80vh;
    width: 40vw;
    border: solid 1px rgb(0,150,255);
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
}

.weather-type{
    border: solid 1px rgb(0,150,255);
    border-radius: 5px;
    height: 20vh;
    width: 20vh;
    background-color: rgb(246, 246, 246);
}

.degree-style{
    font-size: 30px;
}

footer{
    margin-top: 20px;
    border-top: solid 1px rgb(0,150,255);
    height: 10vh;
}

.degree-style{
    color: rgb(63, 63, 63);
    background-color: rgb(246, 246, 246);
}

.weekly-forcast{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 13vh;
}
.day-card{
    height: 70vh;
    width: 20vh;
    border: solid 1px rgb(0, 170, 255);
    border-radius: 5px;
    margin: 20px;
    background-color: rgb(246, 246, 246);
}

@media screen and (max-width: 768px) {

    .app-title{
        margin-top: 0px;
    }
    .menu-header{
        padding: 20px;
        height: 150px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }

    .city-name-input{
        margin-top: -20px;
        height: 35px;
    }

    .main-section{ 
        display: flex;
        flex-direction: column;
        margin-top: 55px;
        
    }

    .weather-card{
        width: 60vw;
    }

    .weekly-forcast{
        display: flex;
        flex-direction: row;
        border: solid 1px rgb(23, 109, 80);
        overflow-x: scroll;
    }

    .day-card{
        width: 40vw;
    }
}

@media screen and (max-width: 500px){
    .menu-header{
        padding: 0;
        width: 100vw;
        height: 15vh;
    }

    .weather-card{
        width: 80vw;
        height: 70vh;
    }
    .weekly-forcast{
        overflow: hidden;
    }
    
}
